@font-face {
    font-family: Kanit; 
    src: url(fonts/kanit-regular.otf); 
   }
.container h1{
    font-family: Kanit;
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 36px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #FFFFFF;
}
.container h2{
    font-family: Kanit;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #1C1C1C;
}
.container h3{
    font-family: Kanit;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	margin-top: 12px;
}
.container h4{
    font-family: Kanit;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #444444;
}
.container p{
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #7D7D7D;
}
.card-title h2{
    font-family: Kanit;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #1C1C1C;
}
html, body {
      margin: 0;
      padding: 0;
    }

    * {
      box-sizing: border-box;
    }

    .slider {
        width: 50%;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }

    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }
.slick-current {
   opacity: 1;
}